App.css
claude.md 
Click Path for ARCH FNOL & CLAIMS DEMO 4.pdf 
context.txt 
End to End Flow.docx 
f_requirements.txt 
FNOL_Process_v0.2.drawio 
index.css 
Process Flow.docx 
prompt.txt 
Screenshot from 2026-03-06 13-52-06.png 
Screenshot from 2026-03-06 14-16-11.png 
Screenshot from 2026-03-06 14-29-11.png 
Screenshot from 2026-03-06 16-04-55.png